<?xml version="1.0" encoding="utf-8"?>
<odoo>
    <!-- Menú Principal -->
    <menuitem id="menu_calculadora_costos_root"
              name="Calculadora de Costos"
              sequence="100"
              web_icon="calculadora_costos,static/description/calculadora.png"/>

    <!-- Calculadora Unificada -->
    <menuitem id="menu_calculadora"
              name="Calculadora"
              parent="menu_calculadora_costos_root"
              action="action_calculadora"
              sequence="10"/>

</odoo>
